<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="row row-no-margin">
    <div class="col-12" style="text-align: center; padding: 20px;">
        <h1>Често задавани въпроси</h1>
    </div>
</div>
<div class="container faqcontainer">
    <div class="row row-no-margin">
        <div class="col-12 col-md-6 firstquestion" id="firstquest" ng-click="showFirstQuestion(); changeColorFirstQuestion()">1. Какво е уеб хостинг?</div>
        <div class="col-12 col-md-6 secondquestion" id="secondquest" ng-click="showSecondQuestion()">2. Какво е уеб хостинг?</div>
    </div>
    <div class="row row-no-margin">
        <div class="col-12" id="firstCont">
            В ръководството ни ще намерите детайлна информация за всички типове хостинг услуги. От различните видове хостинг и характеристиките, които изграждат услугата, до информация която ще ви помогне да разберете какво точно купувате, когато заплащате за уеб хостинг услуги. Гарантираме, че разширеното ни ръководство ще отговори на въпросите ви за уеб хостинга 
        </div>
    </div>
    <div class="row row-no-margin">
        <div class="col-12 col-md-6 thirdquestion" id="thirdquest" ng-click="showThirdQuestion()">3. Какво е домейн име?</div>
        <div class="col-12 col-md-6 fourthquestion" id="fourthquest" ng-click="showFourthQuestion()">4. Как да преместя сайта си?</div>
    </div>
    <div class="row row-no-margin">
        <div class="col-12" id="secondCont"></div>
    </div>
    <div class="row row-no-margin">
        <div class="col-12 col-md-6 fifthquestion" id="fifthquest" ng-click="showFifthQuestion()">5. Какво е Cloud хостинг?</div>
        <div class="col-12 col-md-6 sixthquestion" id="sixthquest" ng-click="showSixthQuestion()">6. Как да поръчам хостинг и домейн?</div>
    </div>
    <div class="row row-no-margin">
        <div class="col-12" id="thirdCont"></div>
    </div>
    <div class="row row-no-margin">
        <div class="col-12 col-md-6 seventhquestion" id="seventhquest" ng-click="showSeventhQuestion()">7. Как да трансферирам домейна си?</div>
        <div class="col-12 col-md-6 eightquestion" id="eightquest" ng-click="showEightQuestion()">8. Как да изберем SSL сертификат?</div>
    </div>
    <div class="row row-no-margin">
        <div class="col-12" id="fourthCont"></div>
    </div>
</div>