<div class="{{pageClass}}">
    <div class="service-container">
        <h1 style="color: #fff;">Услуги</h1>
        <div class="container">
            <div class="row row-no-margin">
                <div class="col-12 services">
                    <div class="row row-no-margin">
                        <div class="col-12 col-xl-6 margin-top-30">
                            <img class="img-fluid" src="images/web-development.png" alt="Web development"/>
                        </div>
                        <div class="col-12 col-xl-6 services-text">
                            <h4 style="text-align: center;">Изработка на уеб сайт</h4>
                            <p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове. Този начин не само е оцелял повече от 5 века, но е навлязъл и в публикуването на електронни издания като е запазен почти без промяна. Популяризиран е през 60те години на 20ти век със издаването на Letraset листи, съдържащи Lorem Ipsum пасажи, популярен е и в наши дни във софтуер за печатни издания като Aldus PageMaker, който включва различни версии на Lorem Ipsum.</p>
                            <div ng-click="changeView('uslugi/izrabotka-na-website')">Виж повече</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-no-margin">
                <div class="col-12 services">
                    <div class="row row-no-margin">
                        <div class="col-12 col-xl-6 services-text">
                            <h4 style="text-align: center;">Изработка на мобилно приложение</h4>
                            <p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове. Този начин не само е оцелял повече от 5 века, но е навлязъл и в публикуването на електронни издания като е запазен почти без промяна. Популяризиран е през 60те години на 20ти век със издаването на Letraset листи, съдържащи Lorem Ipsum пасажи, популярен е и в наши дни във софтуер за печатни издания като Aldus PageMaker, който включва различни версии на Lorem Ipsum.</p>
                            <div ng-click="changeView('uslugi/izrabotka-na-mobilno-prilojenie')">Виж повече</div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <img class="img-fluid" src="images/mobile-app-development.png" alt="Mobile app development"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-no-margin">
                <div class="col-12 services">
                    <div class="row row-no-margin">
                        <div class="col-12 col-xl-6 margin-bottom-top-30">
                            <img class="img-fluid" src="images/maintenance.png" alt="Maintenance"/>
                        </div>
                        <div class="col-12 col-xl-6 services-text">
                            <h4 style="text-align: center;">Поддръжка</h4>
                            <p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове. Този начин не само е оцелял повече от 5 века, но е навлязъл и в публикуването на електронни издания като е запазен почти без промяна. Популяризиран е през 60те години на 20ти век със издаването на Letraset листи, съдържащи Lorem Ipsum пасажи, популярен е и в наши дни във софтуер за печатни издания като Aldus PageMaker, който включва различни версии на Lorem Ipsum.</p>
                            <div ng-click="changeView('uslugi/poddrujka')">Виж повече</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-no-margin">
                <div class="col-12 services">
                    <div class="row row-no-margin">
                        <div class="col-12 col-xl-6 services-text">
                            <h4 style="text-align: center;">Графичен дизайн</h4>
                            <p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове. Този начин не само е оцелял повече от 5 века, но е навлязъл и в публикуването на електронни издания като е запазен почти без промяна. Популяризиран е през 60те години на 20ти век със издаването на Letraset листи, съдържащи Lorem Ipsum пасажи, популярен е и в наши дни във софтуер за печатни издания като Aldus PageMaker, който включва различни версии на Lorem Ipsum.</p>
                            <div ng-click="changeView('uslugi/grafichen-dizain')">Виж повече</div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <img class="img-fluid" src="images/graphicdesign.png" alt="Graphic Design"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>