<div class="moreservicescontainer">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service right1">
                <div class="card-cover card-static"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3> Static web sites</h3>
                    </span>
                    <div class="card-description noselect">
                        The Static Web Site is a combination of linked HTML pages, stylized by our designers with the wishes of our customers.                    
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showMyModal('myModal2');">See More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service">
                <div class="card-cover card-dynamic"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Dynamic web sites</h3>
                    </span>
                    <div class="card-description noselect">
                        The Dynamic Web Site has a content that varies depending on the set parameters.                    
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showMyModal('myModal3');">See More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service left1">
                <div class="card-cover card-shop"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Online shops</h3>
                    </span>
                    <div class="card-description noselect">
                        We offer a creation of online shops. We use platforms such as Wordpress and OpenCart depending on the need of our customers.                  
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(2);">See More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service right1">
                <div class="card-cover card-maintance"></div>
                <div class="card-details noselect" onclick="">
                    <span class="service-name noselect">
                        <h3>Web sites maintenance</h3>
                    </span>
                    <div class="card-description noselect"> 
                        By working out the web site, the work does not end. Maintenance is a must in order to prevent any technical difficulties.                  
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(3);">See More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service">
                <div class="card-cover card-logo"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3> Logo design</h3>
                    </span>
                    <div class="card-description noselect"> 
                        Logo created with motives related to your business.             
                    </div>
                    <h1 style="height: 30px;"></h1>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(4);">See More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service left1">
                <div class="card-cover card-banner"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Banner design</h3>
                    </span>
                    <div class="card-description noselect"> 
                        Banner created with motives related to your business.            
                    </div>
                    <h1 style="height: 30px;"></h1>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(5);">See More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service right1">
                <div class="card-cover card-mobile"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Mobile apps development</h3>
                    </span>
                    <div class="card-description noselect"> 
                        We offer mobile development for IOS and Android.
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(6);">See More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service">
                <div class="card-cover card-facebook"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Facebook page maintenance</h3>
                    </span>
                    <div class="card-description noselect"> 
                        To keep the attention of your followers, you need to post interesting posts every day.
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(7);" data-toggle="modal" data-target="#myModal">See More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service left1">
                <div class="card-cover card-360-degrees"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3> Creation of 360-degrees walk</h3>
                    </span>
                    <div class="card-description noselect"> 
                        If you want to shoot an apartment for sale or rent, we can do it for you.
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(8);" data-toggle="modal" data-target="#myModal">See More</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="color: white; text-align: center;">
            <p>We value our customers and believe that every project is unique and can not be put in a template or frame.</p> 
            <p>Contact us and we will discuss what would be the optimal variant and cost for your site.</p>
        </div>
    </div>   
</div>

