<div class="moreservicescontainer">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service right1">
                <div class="card-cover card-static"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3> Статични уеб сайтове</h3>
                    </span>
                    <div class="card-description noselect">
                        Статичният уеб сайт е съвкупност от свързани по между си HTML страници, стилизирани от нашите дизайнери спрямо желанията на нашите клиенти.                    
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showMyModal('myModal2');">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service">
                <div class="card-cover card-dynamic"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Динамични уеб сайтове</h3>
                    </span>
                    <div class="card-description noselect">
                        Динамичният уеб сайт е със съдъражание, което варира в зависимост от зададените параметри.                    
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showMyModal('myModal3');">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service left1">
                <div class="card-cover card-shop"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3> Електронни магазини</h3>
                    </span>
                    <div class="card-description noselect">
                        Предлагаме изработка на електронен магазин. Използваме платформи като Wordpress и OpenCart, в зависимост от нуждите на клиентите ни.                  
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(2);">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service right1">
                <div class="card-cover card-maintance"></div>
                <div class="card-details noselect" onclick="">
                    <span class="service-name noselect">
                        <h3>Поддръжка на уеб сайтове</h3>
                    </span>
                    <div class="card-description noselect"> 
                        С изработването на страницата работата не свършва. Поддръжката е задължителна част, за да бъдат предотвратени всякакви технически проблеми.                  
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(3);">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service">
                <div class="card-cover card-logo"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3> Изработка на лого</h3>
                    </span>
                    <div class="card-description noselect"> 
                        Лого, изработено с мотиви, свързани с вашия бизнес.             
                    </div>
                    <h1 style="height: 30px;"></h1>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(4);">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service left1">
                <div class="card-cover card-banner"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Изработка на банер</h3>
                    </span>
                    <div class="card-description noselect"> 
                        Банер, изработен с мотиви, свързани с вашия бизнес.             
                    </div>
                    <h1 style="height: 30px;"></h1>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(5);">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service right1">
                <div class="card-cover card-mobile"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Изработка на мобилни приложения</h3>
                    </span>
                    <div class="card-description noselect"> 
                        Предлагаме изработка на мобилни приложения за Android и IOS.
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(6);">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service">
                <div class="card-cover card-facebook"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Поддръжка на фейсбук страница</h3>
                    </span>
                    <div class="card-description noselect"> 
                        За да задържите вниманието на своите последователи е нужно да публикавате интересни постове всеки ден.
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(7);" data-toggle="modal" data-target="#myModal">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 container2">
            <div class="card-service left1">
                <div class="card-cover card-360-degrees"></div>
                <div class="card-details" onclick="">
                    <span class="service-name noselect">
                        <h3>Изработване на виртуална разходка</h3>
                    </span>
                    <div class="card-description noselect"> 
                        Ако желаете да заснемете апартамент за продажба или за отдаване под наем, ние можем да го направим за Вас.
                    </div>
                    <div class="card-button center">
                        <button type="button" class="btn btn-info btn-lg" ng-click="showModal(8);" data-toggle="modal" data-target="#myModal">Вижте повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="color: white; text-align: center;">
            <p>Ние ценим нашите клиенти и сме на мнението, че всеки проект е уникален и не може да бъде сложен в шаблон или рамка.</p> 
            <p>Свържете се с нас и ще обсъдим какъв би бил оптималният вариант и цена за Вашия сайт.</p>
        </div>
    </div>   
</div>

